@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
:root{
    background-color: rgb(0, 0, 0);
    font-family: "Geist", serif;
  }
  
  /* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #44444434;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3b3b3b;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}